.all{
	max-width: 960px;
	min-width: 200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.top{
	width: 100%;
	height: 80px;
}
.logo{
	float: left;
	height: 80px;
	margin-right: 50px;
}
.menu{
	float: left;
	height: 100%;
}
.menu ul{
	line-height: 80px;
}
.menu ul li{
	display: inline;
}
.banner img{
	width: 100%;
}
.content{
	height: 100%;
	padding: 50px 0;
}
.content h2{
	font-size: 20px;
	padding-bottom: 20px;
}
.content input,.content textarea{
	line-height: 30px;
	font-size: 16px;
}
.btn{
	margin-right: 10px;
}
.sub_create{
	padding-left: 150px;
}
.up_img{
	margin-left: 150px;
}
.sub_create input{
	padding:3px;
}
.content textarea{
	width: 80%;
	display: inline-block;
}
.content li{
	margin:10px 0;
}
.content li p{
	display: inline-block;
	width: 20%;
	text-align: right;
}
.content .err{
	text-align: left;
	color: red;
	padding-left: 5px;
}
input, textarea{
	margin: 0;
	padding: 0;
	border:2px solid;
}
.ul_tit, .ul_cont{
	float: left;
	line-height: 30px;
}
.ul_cont input, .ul_cont textarea{
	width: 80%;
	display: inline-block;
}
.ul_tit{
	width: 20%;
	text-align: right;
}
.ul_tit li{
	font-size: 18px;
	line-height: 40px;
	height: 45px;
}
.ul_tit .kimg{
	padding-top: 6px;
	padding-right: 10px;
}
.ul_cont{
	width:80%;
}
.ul_cont img{
	height: 150px;
}
#tall_img{
	height: 200px;
}
#tall{
	height: 105px;
}
.gview{
	margin-top:20px;
}
.gview li:first-child{
	border-bottom: 1px solid #999;
	font-weight: bold;
	font-size: 18px;
}
.form-control{
	height: auto;
}
.error p, label.error{
	color: red;
}
.success p{
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}
.main{
	width: 220px;
	float: left;
	margin:10px;
	text-align: center;
}
.main .des{
	color: #666;
}
.main img{
	max-width:200px;
	max-height: 200px;
}
.con_img{
	height: 200px;
	padding-bottom: 5px;
}
.price{
	color: red;
}
.main .price{
	text-align: right;
	font-size: 12px;
	font-style: italic;
}
.prd p{
	text-align: center;
}
.product_one .pimg,.product_one .detail{
	float: left;
}
.product_one .pimg{
	width:50%;
	text-align: center;
}
.product_one .pimg{
	max-width: 100%;
}
.product_one .des{
	margin-top: 30px;
	border-top: 5px double #28f;
	padding: 15px 5px;
}
.detail p{
	padding-left: 10px;
	padding-bottom: 30px;
}
.del{
	display: inline-block;
}
.del a{
	border: 2px solid;
	padding: 5px;
}
.view_page{
	text-align: center;
}
.more{
	text-align: right;
	font-style: italic;
}
.footer{
	text-align: right;
	color: #999;
}
.clear{
	clear: both;
}
.item img{
	margin: 0 auto;
}
.carousel-indicators{
	margin-bottom: -14px;
}
.tit_center{
	text-align: center;
}